* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdbdbd;
    width: 100%;
    height: 100vh;
}

.container {
   
    min-height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ffffff;
    
  
}

.container header {
    
    height: 300px;
    /*background-color: black;*/
    color: #ffffff;
    background-image: url(/images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom bottom;
    background-size: cover;
}

.container main {
    /*
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;*/
}

nav {
    display: flex;
    justify-content: space-between;
}

nav button {
    display: none;
}
header > nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 30px;
}

header > nav > ul {
    list-style: none;
    display: flex;
}

header > nav > ul > li {
    display: block;
}

li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;

}

li:hover a {
    background-color: aqua;
    color: #000000;
}


main {
    display: flex;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
}

main .main-feed {
    flex-grow: 2;
    background-color: #000000;
    color: #ffffff;
    
}

.footer {
    /*
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 200px;
*/

   
   padding: 20px 0 20px 0;

}

@media screen and (max-width: 900px){
    .container{
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 614px){
   
    header nav {
        display: flex;
        flex-direction: column-reverse;

        background-color: rgba(0,0, 0, 0.8);
       
       -webkit-transition: all .3s ease .15s;
       -moz-transition: all .3s ease .15s;
       -o-transition: all .3s ease .15s;
       -ms-transition: all .3s ease .15s;
       transition: all .3s ease .15s;
    }
    header nav ul {
       display: none;

   }

    nav div {
     
        display: flex;
        justify-content: flex-end;
    }
    
    nav button {
        display: block;
        margin: 10px 10px 10px 10px;
        padding: 7px 7px 7px 7px;
    }

    .block-menu {
        display: block;
        width: 100%;
    }

    .nav-fade {

        background-color: rgba(0,0, 0, 0.7);
       
        -webkit-transition: all .5s ease .2s;
        -moz-transition: all .5s ease .2s;
        -o-transition: all .5s ease .2s;
        -ms-transition: all .5s ease .2s;
        transition: all .5s ease .2s;
 

    }
}

@media screen and (max-width: 414px) {
    .container {
   
        min-height: 100%;
        margin-left: 0;
        margin-right: 0;
        background-color: #ffffff;
        
      
    }

    nav a {
        display: none;
    }

    main {
        display: flex;
        padding-left: 0;
        padding-top: 20px;
        padding-right: 0;
        flex-direction: column;
    }
    
    main .main-feed {
        flex-grow: 0;
        background-color: #000000;
        color: #ffffff;
        
    }
    
}